node_modules/
dist-*/
dist/
.vite/
.env
.env.*
!.env.example
playwright-report/
test-results/
coverage/
coverage-client/
coverage-vue/
data/
*.swp
.jscpd/*
!.jscpd/baseline.json
tooling/create-app/templates/base-shell/scripts/verdaccio/storage/
tooling/create-app/templates/base-shell/scripts/verdaccio/htpasswd
**/verdaccio/storage/
**/verdaccio/htpasswd
.vitepress**